In [1]:
# An integer is a whole number, which means it doesn't have any fractional or decimal part. Integers can be both positive and negative, including zero.
int1  = 1987
print(int1)
print(type(int1))

int = -1987
print(int)
print(type(int))

1987
<class 'int'>
-1987
<class 'int'>

In [2]:
# Float: Any combination of whole number and fractional number
flt = 3.1415
print(flt)
print(type(flt))

flt = -3.1415
print(flt)
print(type(flt))

3.1415
<class 'float'>
-3.1415
<class 'float'>

In [3]:
# Complex  : combination of integer or float and imagenary number
compl = 2 + 3j
print(compl)
print(type(compl))

compl = -2 - 3j
print(compl)
print(type(compl))

(2+3j)
<class 'complex'>
(-2-3j)
<class 'complex'>

In [4]:
# Boolean : True and False
bool = True
print(bool)
print(type(bool))

bool = False
print(bool)
print(type(bool))

True
<class 'bool'>
False
<class 'bool'>

In [6]:
# String
# any combination inside single  quote
# any combination inside double quotes
# any combination inside triple single quote
# any combination inside triple double quote

str = 'Python Programming'
print(str)
print(type(str))

str = "Python Programming"
print(str)
print(type(str))

str = '''Python Programming'''
print(str)
print(type(str))

str = """Python Programming"""
print(str)
print(type(str))

Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>

In [15]:
str = """My name is 'Michael Amanuel',and i'm 30 years old. """
print(str)

str = "He said, 'Python's versatility makes it a great language for many tasks.'"
print(str)

My name is 'Michael Amanuel',and i'm 30 years old.
He said, 'Python's versatility makes it a great language for many tasks.'

In [17]:
# List
# 1. List is represented by square bracket []
# 2. List is mutable


list = [12, 23, 34, 45, 56]
print(list)
print(type(list))

[12, 23, 34, 45, 56]
<class 'list'>

In [18]:
# Tuple
# 1. Tuple is represented by circular breaket
# 2. Tuple is immutable

tuple = (1, 2, 3, 4, 5)
print(tuple)
print(type(tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [20]:
# set
# 1. set is combination of of unique values
# 2. set is collection of unordered elemnts
# 3. set is represented by curly breakets
# 4. set is Mutable

set = {'a', 'b', 'c', 'D', 'E', 'F', 1, 2, 3, '!', '@', '#', 'a', 'b', 'c', 'D', 'E', 'F', 1, 2, 3, '!', '@', '#'}
print(set)
print(type(set))

{1, 2, 3, '!', '@', 'E', 'D', 'a', 'c', 'b', 'F', '#'}
<class 'set'>

In [19]:
# Dictionary
# 1. Tuple is represented by circular breaket
# 2. Tuple is immutable

set = {'a', 'b', 'c', 'D', 'E', 'F', 1, 2, 3, '!', '@', '#', 'a', 'b', 'c', 'D', 'E', 'F', 1, 2, 3, '!', '@', '#'}
print(set)
print(type(set))

{1, 2, 3, '!', '@', 'E', 'D', 'a', 'c', 'b', 'F', '#'}
<class 'set'>

In [27]:
# example of list tuple and set using different types

mixed_list = ['a', 42, 3.14, 'hello', 7, 9.99, 'world', -5, 2.5, 'Python']
print(mixed_list)
print(type(mixed_list))

mixed_tuple = (b'hello', 3.14, 42, 2.5, 'world', 7, 9.99, b'Python', b'\x01\x02\x03', 3.14159)
print(mixed_tuple)
print(type(mixed_tuple))

mixed_set = {b'hello', 3.14, 42, 2.5,True,1,False,0 , 'world', 7, 9.99, 'Python',' b', 3.14159}
print(mixed_set)
print(type(mixed_set))

['a', 42, 3.14, 'hello', 7, 9.99, 'world', -5, 2.5, 'Python']
<class 'list'>
(b'hello', 3.14, 42, 2.5, 'world', 7, 9.99, b'Python', b'\x01\x02\x03', 3.14159)
<class 'tuple'>
{False, True, 2.5, 3.14, 3.14159, 7, b'hello', 9.99, 42, 'world', ' b', 'Python'}
<class 'set'>

In [32]:
set =set = {False,1,True,0 , 'a', 'b', 'c', 'D', 'E', 'F', 2, 3, '!', '@', '#', 'a', 'b', 'c', 'D', 'E', 'F', 1, 2, 3, '!', '@', '#'}
print(set)
print(type(set))

{False, 1, 2, 3, '!', '@', 'E', 'D', 'a', 'c', 'b', 'F', '#'}
<class 'set'>

In [33]:
# dictionary
dic = {'key': 'apple', 'key1':'banana', 'key2':'orange'}
print(dic)
print(type(dic))

{'key': 'apple', 'key1': 'banana', 'key2': 'orange'}
<class 'dict'>

In [34]:
mix_dict = {
    'fruits': ['apple', 'banana', 'orange'],
    'colors': {'red', 'yellow', 'orange'},
    'coordinates': (10, 20, 30),
    }
print(mix_dict)
print(type(mix_dict))

{'fruits': ['apple', 'banana', 'orange'], 'colors': {'yellow', 'red', 'orange'}, 'coordinates': (10, 20, 30)}
<class 'dict'>

In [39]:
str = 'Michael Amanuel Fsehatsion'
print(str)
print(type(str))
print(len(str))

Michael Amanuel Fsehatsion
<class 'str'>
26

In [55]:
print(str[0], end='')
print(str[1], end='')
print(str[2], end='')
print(str[3], end='')
print(str[4], end='')
print(str[5], end='')
print(str[6], end='')
print(str[7], end='')
print(str[8], end='')
print(str[9], end='')
print(str[10], end='')

Michael Ama

In [71]:
str[:7],str[7:15] ,str[16:],str[3:23:3]

('Michael', ' Amanuel', 'Fsehatsion', 'hlmu et')

In [64]:
str[:]

'Michael Amanuel Fsehatsion'

In [76]:
print(str[::])
print(str[0:16:])
print(str[:len(str):5])

Michael Amanuel Fsehatsion
Michael Amanuel
Mea an