In [10]:
list = [12,23,34,45,56,67,78,89,90,21,32,43,54,65,76,87,98,9]

for i in list:
  print('value of i ', i)

value of i  12
value of i  23
value of i  34
value of i  45
value of i  56
value of i  67
value of i  78
value of i  89
value of i  90
value of i  21
value of i  32
value of i  43
value of i  54
value of i  65
value of i  76
value of i  87
value of i  98
value of i  9

In [11]:
fruit_tuple = ("apple", "banana", "orange", "grape", "kiwi", "pineapple")

for i in fruit_tuple:
  print('value of i ', i)

value of i  apple
value of i  banana
value of i  orange
value of i  grape
value of i  kiwi
value of i  pineapple

In [23]:
set = {"apple", "banana", "orange", "grape", "kiwi", "pineapple", "watermelon", "strawberry", "pear", "mango", "cherry"}
for i in set:
  print('value of i ', i)

value of i  cherry
value of i  apple
value of i  mango
value of i  orange
value of i  kiwi
value of i  pear
value of i  strawberry
value of i  banana
value of i  watermelon
value of i  pineapple
value of i  grape

In [3]:
str = 'Peppa prefer python programming'
for i in str:
  print('value of i' , i)

value of i P
value of i e
value of i p
value of i p
value of i a
value of i
value of i p
value of i r
value of i e
value of i f
value of i e
value of i r
value of i
value of i p
value of i y
value of i t
value of i h
value of i o
value of i n
value of i
value of i p
value of i r
value of i o
value of i g
value of i r
value of i a
value of i m
value of i m
value of i i
value of i n
value of i g

In [4]:
dict = {"A": "Apple","B": "Banana","C": "Cat","D": "Dog","E": "Elephant"}

for i in dict:
  print('value of i ', i)

value of i  A
value of i  B
value of i  C
value of i  D
value of i  E

In [6]:
for i in range(6):
  print('value of i ', i)

value of i  0
value of i  1
value of i  2
value of i  3
value of i  4
value of i  5

In [13]:
for i in range(0, 10, 2):
  print('value of i ', i)

value of i  0
value of i  2
value of i  4
value of i  6
value of i  8

In [1]:
for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [3]:
k = 1
for i in range(10):
  for j in range(10):
    print(k, end=', ')
    k += 1
  print('\r')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
61, 62, 63, 64, 65, 66, 67, 68, 69, 70,
71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
81, 82, 83, 84, 85, 86, 87, 88, 89, 90,
91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

In [40]:
for i in range(10):
  for j in range(0, 10-i):
    print(' ', end='')
  for k in range(0, i + 1):
    print('*', end=" ")
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [48]:
for i in range(10):
  for j in range(0, i):
    print(' ', end='')
  for k in range(0, 10-i):
    print('*', end=" ")
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [76]:
for i in range(10):
  for j in range(0, i+1):
    print(' ', end='')
  for k in range(0, 10-i):
    print('*', end=" ")
  print()

for i in range(0, 10):
  for j in range(0, 9-i):
    print(' ', end='')
  for k in range(0, i + 2):
    print('*', end=" ")
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * * *

In [83]:
for i in range(0, 10):
  for j in range(0, 10-i):
    print(' ', end='')
  for k in range(0, i + 1):
    print('*', end=" ")
  print('\r')

for i in range(10):
  for j in range(0, i+2):
    print(' ', end='')
  for k in range(0, 9 - i):
    print('*', end=" ")
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [4]:
for i in range(0, 10):
  for j in range(0, 10-i):
    print(' ', end='')
  for k in range(0, i + 1):
    print('*', end=" ")
  print('\r')

for i in range(10):
  for j in range(0, i+2):
    print(' ', end='')
  for k in range(0, 9 - i):
    print('*', end=" ")
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [1]:
for i in range(11):
    print('*' , end=" ")
print('\r')

for i in range(10):
    for j in range(0, i +1 ):
        print(' ', end='')
    for j in range(0, 1 ):
        print('*' , end='')
    for j in range(0, 9 - i):
        print(' ' , end=' ')
    for j in range(0, 1):
        print('*' , end=' ')
    print('\r')

* * * * * * * * * * *
 *                  *
  *                *
   *              *
    *            *
     *          *
      *        *
       *      *
        *    *
         *  *
          **

In [2]:
word = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

for i in range(10):
    for k in range(0 , 9 - i):
        print(' ', end='')
    for j in range(0 ,i+1):
        print(word[j], end=' ' )

    print('\r')

         A
        A B
       A B C
      A B C D
     A B C D E
    A B C D E F
   A B C D E F G
  A B C D E F G H
 A B C D E F G H I
A B C D E F G H I J

In [3]:
word = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

for k in range(10):
    for j in range(0, k):
        print(' ', end= '')
    for i in range(0, 10 - k):
        print(word[i], end=' ')
    print('\r')

A B C D E F G H I J
 A B C D E F G H I
  A B C D E F G H
   A B C D E F G
    A B C D E F
     A B C D E
      A B C D
       A B C
        A B
         A

In [4]:
for k in range(10):
    for j in range(0, k):
        print(' ', end= '')
    for i in range(0, 10 - k):
        print( i + 1, end=' ')
    print('\r')

1 2 3 4 5 6 7 8 9 10
 1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7 8
   1 2 3 4 5 6 7
    1 2 3 4 5 6
     1 2 3 4 5
      1 2 3 4
       1 2 3
        1 2
         1

Wednesday august-16,2023