**Comprehension**


1.   List
2.   Dictionary
3.   Set
4.   Generative

In [ ]:
for i in range(100):
  print(i)

In [3]:
lst_comp = [i for i in range(100)]

print(lst_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [5]:
for i in range(100):
  if i % 3 == 0:
    print(i, end=' ')

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [8]:
list_comp2 = [i for i in range(100) if i % 3 ==0]

print(list_comp2)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [7]:
fruit_list = ['apple', 'banana', 'cerries', 'dates', 'eggfruit', 'fig', 'graphs']

for i in fruit_list:
  if 'a' in i:
    print(i)

apple
banana
dates
graphs

In [9]:
fruit_list = ['apple', 'banana', 'cerries', 'dates', 'eggfruit', 'fig', 'graphs']

lis_3 = [i for i in fruit_list if 'a' in i]
print(lis_3)

['apple', 'banana', 'dates', 'graphs']

In [16]:
fruit_list = fruits = ["apple", "pineapple", "applesauce", "apple pie", "crabapple", "pineapples", "pineapple juice", "apple cider", "apple tree", "apple crisp"]


li_apple = [i for i in fruit_list if 'apple' in i]
print(li_apple)

['apple', 'pineapple', 'applesauce', 'apple pie', 'crabapple', 'pineapples', 'pineapple juice', 'apple cider', 'apple tree', 'apple crisp']

In [21]:
fruit_list = ["apple", "pineapple", "applesauce", "apple pie", "crabapple", "pineapples", "pineapple juice", "apple cider", "apple tree", "apple crisp"]

li_apple = [i for i in fruit_list if 'apple' in i]

for item in li_apple:
    print(item, end=',')

apple,pineapple,applesauce,apple pie,crabapple,pineapples,pineapple juice,apple cider,apple tree,apple crisp,

In [19]:
fruit_list = [ 'banana', 'cerries', 'dates', 'eggfruit', 'fig', 'graphs']

for i in fruit_list:
  if 'apple' in i:
    print("yes")
    break
else:
  print('Not')

Not

In [30]:
fruit_list = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']

result = ["Yes Apple is in the list." for i in fruit_list if 'apple' in i] or ["Not apple is not in list."]

print(result[0])

Yes Apple is in the list.

In [29]:
names = ['Ch', 'Dh', 'Eh', 'cd', 'Tb', 'Td']

result = [ i for i in names if i.lower()[0] == 'c']
print(result)

['Ch', 'cd']

In [31]:
names = ['Ch', 'Dh', 'Eh', 'cd', 'Tb', 'Td']

result = [ i for i in names if i.lower().startswith('c')]
print(result)

['Ch', 'cd']

In [40]:
for i in range(3):
  for j in range(3):
    print(j, end=' ')
  print()

0 1 2
0 1 2
0 1 2

In [35]:
list_matrix = [[i for i in range(3)] for j in range(3)]

list_matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [41]:
li_pyhton = [i for i in 'Python Programming']

li_pyhton

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'P',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g']

In [43]:
list1 = [ i for i in range(101) if i % 5 ==0 and i % 10 == 0]

print(list1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [49]:
two_dim = [[10 ,20, 30],
           [40, 50, 60],
           [70, 80, 90]]

lit = [ [i[j] for i in two_dim] for j in range(len(two_dim))]

print(lit)

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [52]:
two_dim = [[10, 20, 30],
           [40, 50, 60],
           [70, 80, 90]]

lit = [i * j for row in two_dim for i in row for j in row]

print(lit)

[100, 200, 300, 200, 400, 600, 300, 600, 900, 1600, 2000, 2400, 2000, 2500, 3000, 2400, 3000, 3600, 4900, 5600, 6300, 5600, 6400, 7200, 6300, 7200, 8100]

#**Dictionary Comprehension**

In [63]:
for i , j in enumerate(range(10)):
  print(i , f' item{ j}')

0  item0
1  item1
2  item2
3  item3
4  item4
5  item5
6  item6
7  item7
8  item8
9  item9

In [ ]:
for i in range()

In [56]:
dic_comp = { i : f'Item(i)' for i in range(10) }

dic_comp

{0: 'Item(i)',
 1: 'Item(i)',
 2: 'Item(i)',
 3: 'Item(i)',
 4: 'Item(i)',
 5: 'Item(i)',
 6: 'Item(i)',
 7: 'Item(i)',
 8: 'Item(i)',
 9: 'Item(i)'}

#**Set comprehension python**

In [67]:
numbers = [1, 2, 3, 4, 5, 5, 4, 3, 2]

squares = {x  for x in numbers}

set(squares)

{1, 2, 3, 4, 5}

#**Generative comprehension**