In [32]:
x, y = 12, 15

if x < y:
  print(x, 'is greater than', y)
elif x > y:
  print('yes')

12 is greater than 15

In [6]:
  result = lambda x: f'{x} pass greate disttinction' if x >= 78 else (\
                   f'{x} pass with first class' if x >= 60 else (\
                   f'{x} pass with second class' if x >=40 else(\
                   f'{x} pass with third class' if x >= 30 else(\
                    'Better luck next time'))))


mark = int(input('Put your mark pls. '))
print(result(mark))

Put your mark pls. 12
Better luck next time

In [ ]:
def func_sum(a, b):
  return a + b

In [ ]:
def func_sum(a, b, c, d):
  return a + b

In [14]:
def func_sum(*args):
    result = 0
    for num in args:
        result += num
    return result

result = func_sum(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [17]:
def func_sum(a , *args):
    result = a
    for num in args:
        result += num
    return result

result = func_sum(1,2,3,4,5,6)
print(result)

21

In [22]:
def full_name(*args):
  str_name = ''
  for st in args:
    str_name = str_name + ' ' +st
  return str_name

result = full_name('Mike', 'Aman', 'Fish')
print(result)

 Mike Aman Fish

In [27]:
def func_sum(a , *args):
    result = a
    for num in args:
        result += num
    return result

result = func_sum(10, 20,203, 3023)
print(result)

3256

In [29]:
def func_sum(*args):
    result = 0
    for num in args:
        result += num
    return result

result = func_sum(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [35]:
def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")


print_kwargs(name="Mike", age=30, city="Oakland")

name: Mike
age: 30
city: Oakland

In [37]:

def print_kwargs(a, b, c, *args, **kwargs,):
  result = 0
  for num in args:
      result += num

  for key, value in kwargs.items():
    print(f"{key}: {value}")


print_kwargs(1, 2, 3, 4, 5, 6, 7, name="Mike", age=30, city="Oakland")

name: Mike
age: 30
city: Oakland