In [34]:
#  Fibonacci series
# 0 , 1, 1, 2, 3, 5, 8, 13, 21, 34.....

# num = input("Enter the number?")

a, b = 0, 1

f = [0, 1]
for i in range(2, int(10)):
    c = a + b
    a = b
    b = c
    f.append(c)

print(f)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [57]:
stu_record = {'Sameer': 89, 'Sabina': 47,'Inder': 37, 'Kshav':57, 'kisto':61}

for key, value in stu_record.items():
    if value >= 80:
        print(f"{key}, score: {value} u got A")
    elif 60 < value < 80:
        print(f"{key}, score: {value} u got B")
    elif 50 < value <= 60:
        print(f"{key}, score: {value} u got c")
    elif 40 < value <= 50:
        print(f"{key}, score: {value} u got D")
    else:
        print(f"{key}, score: {value} u Fail")

Sameer, score: 89 u got A
Sabina, score: 47 u got D
Inder, score: 37 u Fail
Kshav, score: 57 u got c
kisto, score: 61 u got B

Function in Python

In [ ]:
# Type casting Function
 int() , float(), complex(),

In [59]:
int_one = 1947
print(float(int_one))
print(complex(int_one))
print(bool(int_one))
print(str(int_one))

1947.0
(1947+0j)
True
1947

In [ ]:
bin(), oct(), hex()

In [69]:
# decimal => bin(), oct(), hex()
for i in range(0, 50):
  print("Decimal: ", i,',Binary: ', bin(i),',Octa decimal: ', oct(i),',Hexa Decimal; ', hex(i))
  # print('Binaty: ', bin(i))
  # print('Octa decimal: ', oct(i))
  # print('Hexa Decimal; ', hex(i))

Decimal:  0 ,Binary:  0b0 ,Octa decimal:  0o0 ,Hexa Decimal;  0x0
Decimal:  1 ,Binary:  0b1 ,Octa decimal:  0o1 ,Hexa Decimal;  0x1
Decimal:  2 ,Binary:  0b10 ,Octa decimal:  0o2 ,Hexa Decimal;  0x2
Decimal:  3 ,Binary:  0b11 ,Octa decimal:  0o3 ,Hexa Decimal;  0x3
Decimal:  4 ,Binary:  0b100 ,Octa decimal:  0o4 ,Hexa Decimal;  0x4
Decimal:  5 ,Binary:  0b101 ,Octa decimal:  0o5 ,Hexa Decimal;  0x5
Decimal:  6 ,Binary:  0b110 ,Octa decimal:  0o6 ,Hexa Decimal;  0x6
Decimal:  7 ,Binary:  0b111 ,Octa decimal:  0o7 ,Hexa Decimal;  0x7
Decimal:  8 ,Binary:  0b1000 ,Octa decimal:  0o10 ,Hexa Decimal;  0x8
Decimal:  9 ,Binary:  0b1001 ,Octa decimal:  0o11 ,Hexa Decimal;  0x9
Decimal:  10 ,Binary:  0b1010 ,Octa decimal:  0o12 ,Hexa Decimal;  0xa
Decimal:  11 ,Binary:  0b1011 ,Octa decimal:  0o13 ,Hexa Decimal;  0xb
Decimal:  12 ,Binary:  0b1100 ,Octa decimal:  0o14 ,Hexa Decimal;  0xc
Decimal:  13 ,Binary:  0b1101 ,Octa decimal:  0o15 ,Hexa Decimal;  0xd
Decimal:  14 ,Binary:  0b1110 ,Octa decimal:  0o16 ,Hexa Decimal;  0xe
Decimal:  15 ,Binary:  0b1111 ,Octa decimal:  0o17 ,Hexa Decimal;  0xf
Decimal:  16 ,Binary:  0b10000 ,Octa decimal:  0o20 ,Hexa Decimal;  0x10
Decimal:  17 ,Binary:  0b10001 ,Octa decimal:  0o21 ,Hexa Decimal;  0x11
Decimal:  18 ,Binary:  0b10010 ,Octa decimal:  0o22 ,Hexa Decimal;  0x12
Decimal:  19 ,Binary:  0b10011 ,Octa decimal:  0o23 ,Hexa Decimal;  0x13
Decimal:  20 ,Binary:  0b10100 ,Octa decimal:  0o24 ,Hexa Decimal;  0x14
Decimal:  21 ,Binary:  0b10101 ,Octa decimal:  0o25 ,Hexa Decimal;  0x15
Decimal:  22 ,Binary:  0b10110 ,Octa decimal:  0o26 ,Hexa Decimal;  0x16
Decimal:  23 ,Binary:  0b10111 ,Octa decimal:  0o27 ,Hexa Decimal;  0x17
Decimal:  24 ,Binary:  0b11000 ,Octa decimal:  0o30 ,Hexa Decimal;  0x18
Decimal:  25 ,Binary:  0b11001 ,Octa decimal:  0o31 ,Hexa Decimal;  0x19
Decimal:  26 ,Binary:  0b11010 ,Octa decimal:  0o32 ,Hexa Decimal;  0x1a
Decimal:  27 ,Binary:  0b11011 ,Octa decimal:  0o33 ,Hexa Decimal;  0x1b
Decimal:  28 ,Binary:  0b11100 ,Octa decimal:  0o34 ,Hexa Decimal;  0x1c
Decimal:  29 ,Binary:  0b11101 ,Octa decimal:  0o35 ,Hexa Decimal;  0x1d
Decimal:  30 ,Binary:  0b11110 ,Octa decimal:  0o36 ,Hexa Decimal;  0x1e
Decimal:  31 ,Binary:  0b11111 ,Octa decimal:  0o37 ,Hexa Decimal;  0x1f
Decimal:  32 ,Binary:  0b100000 ,Octa decimal:  0o40 ,Hexa Decimal;  0x20
Decimal:  33 ,Binary:  0b100001 ,Octa decimal:  0o41 ,Hexa Decimal;  0x21
Decimal:  34 ,Binary:  0b100010 ,Octa decimal:  0o42 ,Hexa Decimal;  0x22
Decimal:  35 ,Binary:  0b100011 ,Octa decimal:  0o43 ,Hexa Decimal;  0x23
Decimal:  36 ,Binary:  0b100100 ,Octa decimal:  0o44 ,Hexa Decimal;  0x24
Decimal:  37 ,Binary:  0b100101 ,Octa decimal:  0o45 ,Hexa Decimal;  0x25
Decimal:  38 ,Binary:  0b100110 ,Octa decimal:  0o46 ,Hexa Decimal;  0x26
Decimal:  39 ,Binary:  0b100111 ,Octa decimal:  0o47 ,Hexa Decimal;  0x27
Decimal:  40 ,Binary:  0b101000 ,Octa decimal:  0o50 ,Hexa Decimal;  0x28
Decimal:  41 ,Binary:  0b101001 ,Octa decimal:  0o51 ,Hexa Decimal;  0x29
Decimal:  42 ,Binary:  0b101010 ,Octa decimal:  0o52 ,Hexa Decimal;  0x2a
Decimal:  43 ,Binary:  0b101011 ,Octa decimal:  0o53 ,Hexa Decimal;  0x2b
Decimal:  44 ,Binary:  0b101100 ,Octa decimal:  0o54 ,Hexa Decimal;  0x2c
Decimal:  45 ,Binary:  0b101101 ,Octa decimal:  0o55 ,Hexa Decimal;  0x2d
Decimal:  46 ,Binary:  0b101110 ,Octa decimal:  0o56 ,Hexa Decimal;  0x2e
Decimal:  47 ,Binary:  0b101111 ,Octa decimal:  0o57 ,Hexa Decimal;  0x2f
Decimal:  48 ,Binary:  0b110000 ,Octa decimal:  0o60 ,Hexa Decimal;  0x30
Decimal:  49 ,Binary:  0b110001 ,Octa decimal:  0o61 ,Hexa Decimal;  0x31

In [73]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [95]:
# user define function

def sum_of_two(a, b):
  return (a + b)

sum_of_two(1947, -1947)

0

In [94]:
def sum_of_two(a, b):
  return (a + b)

sum_of_two(3.14, -3.14)

0.0

In [93]:
def sum_of_two(a, b):
  return (a + b)

sum_of_two(3.14, -3.14)

0.0

In [92]:
def sum_of_two(a, b):
  return (a + b)

sum_of_two(True, False)

1

In [91]:
def sum_of_two(a, b):
  return (a + b)

sum_of_two('Python', 'Programming')

'PythonProgramming'

In [90]:
def sum_of_two(a, b):
  return (a + b)

sum_of_two((1,2,3,4,5), (6,7,8,9,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
def sum_of_two(a, b):
    return (a + b)

sum_of_two({1,2,3,4,5}, {6,7,8,9,10})
# TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [88]:
def sum_of_two(a, b):
  return (a + b)

sum_of_two = ({'Sameer': 89, 'Sabina': 47},{'Inder': 37, 'Kshav':57, 'kisto':61})
# TypeError: unsupported operand type(s) for +: 'dict' and 'dict'