In [ ]:
# Question 1) Remove all repeated elements from the list Given below using for loop.

a=[1,2,3,4,5,11,1,2,6,1,8]

b = []
for x in a:
    if x not in b:
       b.append(x)

print(b)

[1, 2, 3, 4, 5, 11, 6, 8]

In [2]:
a=[1,2,3,4,5,11,1,2,6,1,8]

b = []
for x in a:
    if x in b:
      print('repeated value:- ', x)
    else:
      b.append(x)

print(b)

repeated value:-  1
repeated value:-  2
repeated value:-  1
[1, 2, 3, 4, 5, 11, 6, 8]

In [3]:
#  Usnig set method
a=[1,2,3,4,5,11,1,2,6,1,8]
print(set(a))

{1, 2, 3, 4, 5, 6, 8, 11}

In [16]:
# Question 2) Print all prime numbers below 100

c = []
for x in range(1, 101):
    count = 0
    for j in range(2, int(x/2)):
        if x % j == 0:
            count += 1
    if count < 1 :
        print(x,end=' ')
        c.append(x)
print()
print('c =',c)

1 2 3 4 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
c = [1, 2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [14]:
# Question 2) Print all prime numbers below 100
list_of_prime_num = []
for k in range(2, 100):
  flag = True
  for s in range(2, int(k/2)):
    if k % s == 0:
      flag = False
      break
  if flag:
    list_of_prime_num.append(k)

for prim in list_of_prime_num:
  print(prim, "is a prime number")

2 is a prime number
3 is a prime number
4 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
# Question 3) print list in reverse order using for loop

c = [1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

d = []
f = []
for x in c[-1::-1]:
    d.append(x)
print(d)

for x in c[len(c)-1: 0: -1]:
    f.append(x)
print(d)

[97, 89, 83, 79, 73, 71, 67, 61, 59, 53, 47, 43, 41, 37, 31, 29, 23, 19, 17, 13, 11, 1]
[97, 89, 83, 79, 73, 71, 67, 61, 59, 53, 47, 43, 41, 37, 31, 29, 23, 19, 17, 13, 11, 1]

In [ ]:
# Question 4)  print multiplication table of 13 using for loop

for x in range(1, 14):
  for k in range(1, 14):
    print(k * x, end=' ')
  print('\r')

1 2 3 4 5 6 7 8 9 10 11 12 13
2 4 6 8 10 12 14 16 18 20 22 24 26
3 6 9 12 15 18 21 24 27 30 33 36 39
4 8 12 16 20 24 28 32 36 40 44 48 52
5 10 15 20 25 30 35 40 45 50 55 60 65
6 12 18 24 30 36 42 48 54 60 66 72 78
7 14 21 28 35 42 49 56 63 70 77 84 91
8 16 24 32 40 48 56 64 72 80 88 96 104
9 18 27 36 45 54 63 72 81 90 99 108 117
10 20 30 40 50 60 70 80 90 100 110 120 130
11 22 33 44 55 66 77 88 99 110 121 132 143
12 24 36 48 60 72 84 96 108 120 132 144 156
13 26 39 52 65 78 91 104 117 130 143 156 169

In [20]:
for x in range(1, 14):
  print(str(x),"* 13 =", x * 12 )
print('\r')

1 * 13 = 12
2 * 13 = 24
3 * 13 = 36
4 * 13 = 48
5 * 13 = 60
6 * 13 = 72
7 * 13 = 84
8 * 13 = 96
9 * 13 = 108
10 * 13 = 120
11 * 13 = 132
12 * 13 = 144
13 * 13 = 156

In [21]:
#  Python program to count the total number of digits in a number

num = (input("give the number"))
len = len(num)
print(len)

give the number12343
5

In [37]:
# Write a program to find greatest common divisor (GCD) or highest common factor
#  (HCF) of given two numbers

num = int(input("first number"))
num2 = int(input("first number"))
if num > num2:
  for x in range(num , 2, -1):
      if num % x ==0 and num2 % x==0:
        print(x)
        break
else:
  for x in range(num2 , 2, -1):
    if num % x ==0 and num2 % x==0:
      print(x)
      break

first number15
first number10
5

In [ ]:
# Write a program to find greatest common divisor (GCD) or highest common factor
#  (HCF) of given two numbers

a = int(input("first number? "))
b = int(input("first number? "))

max_num = max(a, b)

for x in range( max_num , 2, -1):
  if a % x ==0 and b % x==0:
    print('The answer is: ',x)
    break

In [46]:
1# Write a program to find greatest common divisor (GCD) or highest common factor
#  (HCF) of given two numbers

a = int(input("first number? "))
b = int(input("first number? "))

smallest_number = min(a, b)

for k in (smallest_number, 2, -1):
  if a % k == 0 and b % k == 0:
    print("The GCD is ", k)
    break

first number? 15
first number? 10
The GCD is  -1