In [18]:
# Program 1:

for i in range(10):
  for j in range( i ):
    print(' ', end='')
  for k in range(10 - i):
    result = k + i + 1
    if result == 10:
      print(0 , end=' ')
    else:
      print(result , end=' ')

  print('\r')

1 2 3 4 5 6 7 8 9 0
 2 3 4 5 6 7 8 9 0
  3 4 5 6 7 8 9 0
   4 5 6 7 8 9 0
    5 6 7 8 9 0
     6 7 8 9 0
      7 8 9 0
       8 9 0
        9 0
         0

In [88]:
# Program 2:

for i in range(10):
  for j in range( i ):
    print(' ', end='')
  for k in range(10 - i):
    result = 11 - (k+1+i)
    if result == 10:
      print(0 , end=' ')
    else:
      print(result , end=' ')


  print('\r')

0 9 8 7 6 5 4 3 2 1
 9 8 7 6 5 4 3 2 1
  8 7 6 5 4 3 2 1
   7 6 5 4 3 2 1
    6 5 4 3 2 1
     5 4 3 2 1
      4 3 2 1
       3 2 1
        2 1
         1

In [122]:
# Program 3:

for i in range(10):
  for j in range( i ):
    print(' ', end='')
  for k in range(10 - i):
    result = 11 - (k+1+i)
    if result == 10:
      print(0 , end=' ')
    else:
      print(result , end=' ')
  print()

for i in range(11):
  for k in range(10 - i):
    print('', end=' ')

  for j in range(i):
    result = i-j
    if result == 10:
      print(0 , end=' ')
    else:
      print(result , end=' ')


  print('\r')

0 9 8 7 6 5 4 3 2 1
 9 8 7 6 5 4 3 2 1
  8 7 6 5 4 3 2 1
   7 6 5 4 3 2 1
    6 5 4 3 2 1
     5 4 3 2 1
      4 3 2 1
       3 2 1
        2 1
         1

         1
        2 1
       3 2 1
      4 3 2 1
     5 4 3 2 1
    6 5 4 3 2 1
   7 6 5 4 3 2 1
  8 7 6 5 4 3 2 1
 9 8 7 6 5 4 3 2 1
0 9 8 7 6 5 4 3 2 1

In [34]:
#  Program 4:

for i in range(9):
  for j in range(i+1):
    print(i+1,end=" ")

  print('\r')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [79]:
# Program 5

for i in range(7):

  for j in range(i+1):
    print(j+1 ,end=" ")

  for j in range(i):
    print(i-j,end=" ")


  print('\r')

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1

In [44]:
#  Program 6

for i in range(9):
  for k in range(9 - i):
    print('', end=' ')
  for j in range(i+1):
    print(j+1 ,end=" ")

  print('\r')

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9

In [49]:
# Program 7:

for i in range(10):
  for j in range(i+1):
    print( j * i , end=" ")

  print('\r')

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49
0 8 16 24 32 40 48 56 64
0 9 18 27 36 45 54 63 72 81

In [50]:
#  Program 8

for i in range(10):
  for j in range( i ):
    print(' ', end='')
  for k in range(9 - i):
    result = k + i + 1
    if result == 10:
      print(0 , end=' ')
    else:
      print(result , end=' ')

  print('\r')

1 2 3 4 5 6 7 8 9
 2 3 4 5 6 7 8 9
  3 4 5 6 7 8 9
   4 5 6 7 8 9
    5 6 7 8 9
     6 7 8 9
      7 8 9
       8 9
        9

In [123]:
#  Program 9:

num_rows = 7
current_number = 1

for row in range(1, num_rows + 1):
    for _ in range(row):
        print(current_number, end=" ")
        current_number += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [53]:
#  Program 10:

for i in range(7):
  for j in range(7 - i):
    print(7 , end=' ')
  print('\r')

7 7 7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7
7 7 7 7
7 7 7
7 7
7