In [1]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [19]:
# The add() method in Python is used to add a single element to a set.

my_set = {1, 2, 3}
my_set.add(4)  # Adding element 4 to the set

print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4}

In [21]:
# The clear() method in Python is used to remove all elements from
# a set, effectively making it an empty set.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared Set:", my_set)

Cleared Set: set()

In [24]:
# is used to find the difference between two or more sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)

print("Difference Set:", difference_set)

Difference Set: {1, 2}

In [ ]:
# s used to update a set by removing elements that are
# present in another set (or multiple sets).

In [27]:
# remove a specific element from a set if it exists.

my_set = {1, 2, 3, 4, 5}

my_set.discard(3)  # Removing element 3
my_set.discard(6)  # Element 6 is not in the set, so no change

print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [28]:
# is used to find the common elements between two or more sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_set = set1.intersection(set2)

print("Intersection Set:", intersection_set)

Intersection Set: {3, 4, 5}

In [29]:
#  update a set by keeping only the elements that are
#  common between it and one or more other sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set1.intersection_update(set2)

print("Updated Set 1:", set1)

Updated Set 1: {3, 4, 5}

In [30]:
# is used to check whether two sets have any elements in common or not.

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9}

result1 = set1.isdisjoint(set2)
print("Are set1 and set2 disjoint?", result1)  # True

set3 = {3, 4, 5, 6, 7}
result2 = set1.isdisjoint(set3)
print("Are set1 and set3 disjoint?", result2)  # False

Are set1 and set2 disjoint? True
Are set1 and set3 disjoint? False

In [31]:
# used to check whether a set is a subset of another set
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

result1 = set1.issubset(set2)
print("Is set1 a subset of set2?", result1)  # True

set3 = {4, 5, 6}
result2 = set1.issubset(set3)
print("Is set1 a subset of set3?", result2)  # False

Is set1 a subset of set2? True
Is set1 a subset of set3? False

In [23]:
# It returns a new set that contains the same elements as the original set.

original_set = {1, 2, 3}
copied_set = original_set.copy()

print("Original Set:", original_set)

print("Copied Set:", copied_set)

Original Set: {1, 2, 3}
Copied Set: {1, 2, 3}

In [32]:
# used to check whether a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

result1 = set1.issuperset(set2)
print("Is set1 a superset of set2?", result1)  # True

set3 = {4, 5, 6}
result2 = set1.issuperset(set3)
print("Is set1 a superset of set3?", result2)  # False

Is set1 a superset of set2? True
Is set1 a superset of set3? False

In [6]:
# remove any elemnts from the set
set = {1, 2, 3, 4, 5, 6, 7, 8}
set.pop()
print(set)

{2, 3, 4, 5, 6, 7, 8}

In [10]:
# remove specific elements from a set in Python, you can use the remove() method.
my_set = {1, 2, 3, 4, 5, 6, 7, 8}
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [11]:
# The symmetric difference of two sets contains all elements that are
# in either of the sets, but not in their intersection.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_diff = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_diff)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [16]:
# The symmetric_difference_update() method in Python is used to update
#  a set with the symmetric difference of itself and another set.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.symmetric_difference_update(set2)

print("Updated set1:", set1)

set2.symmetric_difference_update(set1)
print("Updated set2:", set2)

Updated set1: {1, 2, 3, 6, 7, 8}
Updated set2: {1, 2, 3, 4, 5}

In [17]:
# To perform the union of two sets in Python, you can use the union() method

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union Set:", union_set)

Union Set: {1, 2, 3, 4, 5}

In [18]:
# The update() method in Python is used to update a set by adding elements
# from another iterable (like another set, list, tuple, etc.) into the set.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print("Updated Set 1:", set1)

Updated Set 1: {1, 2, 3, 4, 5}